In [1]:
import logging

In [2]:
logging.basicConfig(level="DEBUG")

In [3]:
from cobra.io import load_model

In [4]:
from cobra.flux_analysis import geometric_fba

In [5]:
model = load_model("textbook")

INFO:cobra.core.model:The current solver interface glpk doesn't support setting the optimality tolerance.

Scaling...
 A: min|aij| =  1.000e+00  max|aij| =  1.000e+00  ratio =  1.000e+00
Problem data seem to be well scaled

In [6]:
model.solver = "cplex"

In [7]:
logging.getLogger().setLevel(logging.DEBUG)

In [8]:
%time geometric_fba(model)

DEBUG:cobra.flux_analysis.geometric:Iteration: 1; delta: 4e-13; status: optimal.

CPU times: user 481 ms, sys: 0 ns, total: 481 ms
Wall time: 480 ms

In [9]:
model.solver = "gurobi"

In [10]:
%time geometric_fba(model)

DEBUG:cobra.flux_analysis.geometric:Iteration: 1; delta: 6.47e-12; status: optimal.

CPU times: user 504 ms, sys: 2.91 ms, total: 507 ms
Wall time: 505 ms

In [11]:
model.solver = "glpk"

In [12]:
%time geometric_fba(model)

DEBUG:optlang.glpk_interface:Status undefined. GLPK status code returned by glp_simplex was 1
DEBUG:cobra.flux_analysis.geometric:Iteration: 1; delta: 2.96e-13; status: optimal.

CPU times: user 263 ms, sys: 3.46 ms, total: 267 ms
Wall time: 263 ms